<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {pageTitle: 'Historial Compras!'}); %>
        <link rel="stylesheet" href="/css/productCart.css">
        <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <section>
                <% if(carts.length != 0){ %>
                    <div class="small-container cart-page">
                        <h3 class="page-title">Historial de compras </h3>
                        <table class="product-item">
                            <tr>
                                <th>Orden</th>
                                <th>Compra</th>
                                <th>Total</th>
                            </tr>
                            <% carts.forEach(cart => { %>
                                <tr class="product-n">
                                    <td>
                                        <a class="button-carrito" href="/cart/detailshop/<%= cart.cart_id %>">
                                            <img src="/images/shopping-basket-solid.svg" alt="carrito compras" class="button-carrito__icon" />
                                        </a>
                                        <%= cart.cart_id %>
                                    </td>
                                    <td>
                                        <% cart.items.forEach(item => { %>
                                            <div class="cart-info">
                                                <p>
                                                    <%= item.product.productName %> x
                                                        <%= item.quantity %>
                                                </p>
                                            </div>
                                            <% }); %>
                                    </td>
                                    <td>$
                                        <%= cart.total; %>
                                    </td>
                                </tr>

                                <% }) %>
                        </table>
                        <% } else { %>
                            <div class="error-box">
                                <h2>Aun no tienes compras!</h2>
                            </div>
                            <% } %>
        </main>

        <%- include('../partials/footer'); %>
</body>